/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/01/2016, 20:21:33
    Author     : martin
*/
body {
    background-color: #58C7E8;
    color: #6726AF;
}
h1{
    text-align: center;
}

